a{
    text-decoration:none;
}
.login-form {
    width: 400px;
    height: auto;
    margin: 5% auto;
    background-color: #283041 !important
 }
.login-form h4 {
    color:#00A9BD;  
 }
 
 .login-form a {
    text-decoration: none;
 }
 
 .login-form a strong {
    font-weight: normal;
    color:#00A9BD;    
 }
 
 .login-form a:hover strong {
    font-weight: bold;
    color:#00A9BD;
 }
 .theme-btn{
    color:#fff;
    font-size:16px;
    background-color: #00A9BD;
    border-color: #00A9BD
 }
 
/* Mobile device */
@media (max-width:600px) {
    .login-form {
        width: 380px;
        height: auto;
        margin-top: 20%;
     } 
  
}