a{
    text-decoration:none;
}
.login-form {
    width: 400px;
    height: auto;
    margin: 5% auto;
    background-color: #283041 !important
 }
.login-form h4 {
    color:#00A9BD;  
 }
 
 .login-form a {
    text-decoration: none;
 }
 
 .login-form a strong {
    font-weight: normal;
    color:#00A9BD;    
 }
 
 .login-form a:hover strong {
    font-weight: bold;
    color:#00A9BD;
 }
 .theme-btn{
    color:#fff;
    font-size:16px;
    background-color: #00A9BD;
    border-color: #00A9BD
 }
 #boxitem .card-header{
   background-color: #283041;
   color:#fff;
 }
 #staffAvatar img {
   width: 100px;
   height: 100px;
   border: 5px solid gainsboro;
   border-radius: 50%;
}
.photo-edit-btn {
   width: 25px;
   height: 25px;
   border-radius: 50%;
   background-color: gainsboro;
   border: 1px solid #00A9BD;
   position: absolute;
   bottom: 15%;
   left: 55%;
}
#staffAvatar .icon{
   color: #00A9BD;
   font-size:18px;
}
 
/* Mobile device */
@media (max-width:600px) {
    .login-form {
        width: 380px;
        height: auto;
        margin-top: 20%;
     } 
  
}